@charset "utf-8";
html {
  transition: transform 1.0s ease-in-out;
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 13px;
  line-height: 150%;
  color: black;
}

#header {
  width: 100%;
}
#header h1 {
  margin: 0px;
  padding: 0px;
}

#header h1 img {
  width: 100%;
}

#nav {
  font-size: 16px;
  font-weight: bold;
}
#nav{
  list-style-type: none;
  display: flex;
  text-align: center;
  padding: 0px;
  margin: 0px 0px 10px 0px;
}

#nav li {
  width: 20%;
}
#nav li h4 {
  margin: 10px;
  padding: 0px;
  
  
}
#nav li a{
  height: 39.5px;
  display: inline-block;
  border: 1px solid black;
  background-color: aqua;

  width: 100%;
  text-decoration:dashed;
  margin: auto;
  padding: auto ;
}
#nav li a:hover {
  transform: scale(1.05);
}
#wrapper {
  display: flex;
  width: 100%;
}
#main {
  width: 70%;
  padding-right: 10px;
}
#main h2 {
  background-color: orange;
  padding: 5px;
  border-style: double;
}
#main img {
  width: 40%;
  padding: auto;
}
#main p {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
}
#nav1 {
  display: flex;
}
#nav2 {
  display: flex;
}
#nav3 {
  display: flex;
}
#nav4 {
  display: flex;
}
#nav5 {
  display: flex;
}
#side {
  width: 30%;
  background-color: rgb(237, 236, 235);
}
#side h1{
  text-align: center;
  margin: 10px 0px 0px 0px;
  padding: 8px;
  background: url(/images/side_box_h2.png) center no-repeat;
}
#side .box {
  height: auto;
  margin: auto;
  width: 80%;
	margin: 0 auto 30px auto;
	padding: 0 0 20px 0;
  background: url(/images/side_box.png) bottom no-repeat ;
}
#side .box:hover{
  transform: scale(1.03);
}
#side .box ul{
  list-style-type: none;
  margin: 0px;
  padding: 5px;
  background-color: aliceblue;
}
#side .box ul li {
  padding: 5px;
  border-bottom: 1px solid silver;
}
#side .box ul li:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
#footer {
  background-color: aqua;
  clear: both;
	font-weight: bold;

  padding: 3ßpx 0px;

}
#footer p{
  margin: 0px;
  height: 100%;
  padding: 5px 0px;
  text-align: center;
  font-size:  16px;
}
